[submodule "qcustomplot"]
	path = qcustomplot
	url = git@github.com:UmbrellaLeaf5/qcustomplot.git
[submodule "doxygen_awesome"]
	path = .extra/doxygen/theme
	url = git@github.com:jothepro/doxygen-awesome-css.git
